<a href="https://colab.research.google.com/github/laxitabaheti/ColabPythonDemo/blob/main/lesson3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

To print number 0 to 10

In [ ]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(7):
  for j in range(i):
    j="*"
    print(j, end="  ")
  print('\n')

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

*  *  *  *  *  *

In [ ]:
for i in range(7):
  for j in range(i):
    print(j, end="  ")
  print('\n')

0

0  1

0  1  2

0  1  2  3

0  1  2  3  4

0  1  2  3  4  5

In [ ]:
def sr(x):
  for i in range(x):
    for j in range(i):
      print(i, end="  ")
    print('\n')
sr(6)

1

2  2

3  3  3

4  4  4  4

5  5  5  5  5

In [ ]:
def py(x,y):
  for i in range(x,y):
    for j in range(1,i):
      print(j, end="  ")
    print('\n')

py(2,6)

1

1  2

1  2  3

1  2  3  4

In [ ]:
def evenodd(x,y):
 i=1
 while i<=x:
   if i%y==0:
     print(i)
   i+=1
evenodd(100,2)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:

i=2
while i <=20:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18
20

In [ ]:
def table(x):
 i=x
 j=10*x
 while i <=j:
  print(i)
  i+=x

table(23)

23
46
69
92
115
138
161
184
207
230

to write table

In [ ]:
for i in range(6,12):
  for j in range(1,i):
    print(i,end="  ")
  print(' \n')

6  6  6  6  6

7  7  7  7  7  7

8  8  8  8  8  8  8

9  9  9  9  9  9  9  9

10  10  10  10  10  10  10  10  10

11  11  11  11  11  11  11  11  11  11

In [ ]:
i=5 
while i>=1:
  for j in range(1,i):
    print(j,end=" ")
  print('\n')
  i-=1

1 2 3 4

1 2 3

1 2

1

In [ ]:
def ip(x):
 i=x 
 while i>=1:
   for j in range(1,i):
     print(j,end=" ")
   print('\n')
   i-=1
ip(7)

1 2 3 4 5 6

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [ ]:
print("hh\n  kk")

hh
  kk

In [ ]:
x= ["a","b","c","d"]
y=len(x)
i=0
while i<y:
  if i%2==0:
    print(x[i])
  i+=1

a
c

In [ ]:
x= ["a","b","c","d"]
i=0
n=len(x)
while i<n:
  if i%2!=0:
    print(x[i])
  i+=1

b
d

In [ ]:

x="abcdefgh"
i=0
n=len(x)
while i<n:
  if i%2==0:
    print(x[i])
  i+=1

a
c
e
g

In [ ]:
x=[1,2,3,4,5,6,7,8,1]

  
x.remove(2)
print(x)
x.clear()
print(x)
y=(7,4,5,56,6)
x.extend(y)
print(x)
x.pop()
print(x)
x.remove(7)
print(x)

[1, 3, 4, 5, 6, 7, 8, 1]
[]
[7, 4, 5, 56, 6]
[7, 4, 5, 56]
[4, 5, 56]

Given a list of numbers, return True if first and last number of a list is same